{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div>
    <div>
      <div>
        <h2>
          {% if object.pk %}
            Editar
          {% else %}
            Adicionar
          {% endif %}
          Usuário
        </h2>

        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <p class="text-red-500">{{ error }}</p>
          {% endfor %}
        {% endif %}

        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form.visible_fields %}
            <div>
              <label>{{ field.label }}</label>
              {% render_field field class="" %}
            </div>
            <span>{{ field.help_text }}</span>

            {% for error in field.errors %}
              <span class="text-red-500">{{ error }}</span> <br>
            {% endfor %}
          {% endfor %}

          <div class="flex flex-col sm:flex-row">
            <button type="submit">Salvar</button>
            <a href="">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}